############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

############################
# Node / JS
############################
node_modules/
jspm_packages/
web_modules/

.npm
.eslintcache
.stylelintcache
*.tsbuildinfo

############################
# ENV
############################
.env
.env.*
!.env.example

############################
# Build Output
############################
dist/
build/
out/
coverage/
.nyc_output

############################
# Frameworks
############################
# Next / Nuxt / Vite
.next/
.nuxt/
.cache/
.parcel-cache/
.temp
.vuepress/dist
**/.vitepress/cache
**/.vitepress/dist
.docusaurus/

############################
# React Native / Expo
############################
.expo/
.expo-shared/
.metro-health-check*

############################
# Android
############################
/android/.gradle/
/android/.idea/
/android/.settings/
/android/.classpath
/android/.project
/android/local.properties
/android/captures/
/android/build/
/android/app/build/
/android/app/.cxx/
/android/app/.gradle/
/android/app/release/
/android/app/debug/

############################
# Android Signing (SENSITIVE)
############################
*.keystore
*.jks
*.pem
/android/app/*.keystore
/android/app/*.jks
/android/app/*.pem

############################
# iOS
############################
/ios/Pods/
/ios/build/
/ios/DerivedData/
/ios/*.xcworkspace
/ios/*.xcuserstate
/ios/*.xcuserdatad

############################
# IDE
############################
.idea/
*.iml
.vscode/
!.vscode/extensions.json

############################
# Misc
############################
*.tgz
*.pid
*.seed
*.pid.lock
.yarn-integrity
.pnp.*